@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

h1 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_title;
	font-size: var(--wp--preset--font-size--bigger);
	font-weight: 600;
    text-transform: uppercase;
	line-height: 112%;

	@include mixins.mobile {
		font-size: var(--wp--preset--font-size--large);
	}
}

h2 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_title;
	font-size: var(--wp--preset--font-size--really-large);
	font-weight: 600;
    text-transform: uppercase;
	line-height: 112%;

	@include mixins.mobile {
		font-size: var(--wp--preset--font-size--medium);
	}
}

h3 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_title;
	font-size: var(--wp--preset--font-size--large);
	font-weight: 400;
    

	@include mixins.mobile {
		font-size: var(--wp--preset--font-size--intermediate-standard);
	}

}

h4 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_title;
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 400;
    text-transform: uppercase;

	@include mixins.mobile {
		font-size: var(--wp--preset--font-size--small);
	}
}

h5 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_body;
	font-size: var(--wp--preset--font-size--default);
	font-weight: 600;
    text-transform: uppercase;

	@include mixins.mobile {
		font-size: var(--wp--preset--font-size--xxxs);
	}
}

h6 {
	color: var(--wp--preset--color--low-dark);
	font-family: variables.$f_body;
	font-size: var(--wp--preset--font-size--default);
	font-weight: 600;
    text-transform: uppercase;
}

p {
	color: var(--wp--preset--color--low-dark);
	font-size: var(--wp--preset--font-size--default);
	letter-spacing: -0.16px;
	line-height: 150%;
}

.has-text-color {
	&.has-high-pure-color {
		a {
			color: var(--wp--preset--color--low-dark) !important;
		}
	}
}
