.filters-open{
    display: inline-flex;
    width: 100%;
    max-width: 267px;
    position: absolute;
    gap: 10px;
    justify-content: flex-start;
    color: #111;
    font-family: "Inter Tight";
    font-size: 17px;
    font-weight: 700;
    line-height: 150%;
    background-color: white;
    flex-direction: column;
    margin-top: 20px;


    .radio-options{
        display: flex;
        gap: 5px;
        flex-direction: column;

        label{
            span{
                padding-left: 3px;
                font-size: 15px;

                @include mixins.small{
                    font-size: 10px;
                    gap: 0;
                }
            }
        }
    }

    @include mixins.small{
        max-width: 328px;
        font-size: 10px;
        margin-left: 10px;
    }
}