@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.page-criar-votacao{
    #app{
        background-color: var(--wp--preset--color--secondary-light);
        padding-bottom: 80px;
        .container{
            max-width: 585px;
        }
        h2{
            margin-top: 80px;
            margin-bottom: 20px;
        }
        .title-section{
            font-family: 'Oswald';
            font-weight: 500;
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 20px;
            line-height: 130%; 
            letter-spacing: -0.24px;
            padding-right: 15px;   
        }
        .radio-options{
            label{
                font-weight: 700;
            }
        }
    }
}