@use "./../2-atoms/a-mixins" as mixins;
@use "./../1-settings/s-variables" as variables;

.page-sobre {
    #app {
        @include mixins.tablet{
            overflow-x: initial;
            
        }
        .wp-block-cover__inner-container {
            max-width: 1170px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .page-title {
            background-color: var(--wp--preset--color--low-pure);
            border-radius: 0px 0px 32px 32px;

            h1 {
                color: var(--wp--preset--color--secondary-light);
                font-size: 6rem;
                margin-bottom: 45px;
                @media(max-width: 781px) {
                    font-size: 4.5rem;
                    margin-top: -10px;
                    margin-bottom: 0;
                }
                @include mixins.small{
                    font-size: 3rem;    
                }
            }
        }

        .mission {
            margin-top: 35px;
            padding-bottom: 60px;
            @media (max-width: 781px){
                padding-left: 0;
                padding-right: 0;
            }
            .wp-block-columns{
                @media (max-width: 781px){
                    margin-bottom: 0;
                }    
            }
            .mission-column{
                margin-top: 30px;
                @media (max-width: 781px){
                    margin-top: 0;
                }
            }
            h2{
                margin-bottom: 25px;
                @media (max-width: 781px){
                    margin-top: 0;
                    font-size: 3rem;
                }
            }
            p{
                margin-bottom: 26px;
                @media (max-width: 781px){
                    margin-bottom: 15px;
                }
            }
            figure{
                @media (max-width: 781px){
                    margin-left: 0;
                    margin-top: 40px;
                }    
            }
        }

        .objectives {
            background-color: var(--wp--preset--color--primary-pure);
            border-top: 3px solid #000;
            border-bottom: 3px solid #000;

            @media(max-width: 781px){
                padding-left: 0;
                padding-right: 0;
            }

            .wp-block-columns{
                margin-bottom: 78px;
                margin-top: 60px;
                @media(max-width: 781px){
                    margin-bottom: 0;
                    margin-top: 0;   
                }
            }

            .objectives-left-column {
                margin-top: 48px;
                width: 100%;
                max-width: 530px;
                @media(max-width: 781px){
                    display: none;
                }
                

                h2 {
                    color: var(--wp--preset--color--primary-pure);
                    font-size: 3.250rem;
                    margin-top: 5px;
                }
            }
            .objectives-right-column{
                @media(max-width: 781px){
                    padding-bottom: 15px;
                }
                h2, p, .white-button{
                    padding-left: 123px;
                    @media(max-width: 781px){
                        padding-left: 0;
                    }
                }
                h2{
                    margin-top: 25px;
                    margin-bottom: 20px;
                    @media(max-width: 781px){
                        font-size: 3rem;
                        margin-top: 40px;
                    }
                }   
            }
        }

        .team {
            background-color: var(--wp--preset--color--secondary-pure);
            padding-top: 80px;
            padding-bottom: 90px;
            @media(max-width: 781px){
                padding-top: 20px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 60px;
                
            }

            h2{
                margin-bottom: 30px;
                @media(max-width: 781px){
                    font-size: 3rem;
                    text-align: left;
                    margin-bottom: 30px;
                }
            }

            p{
                max-width: 430px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 65px;
                @media(max-width: 781px){
                    margin-left: 0;
                    margin-right: 0;
                    text-align: left;
                    margin-bottom: 13px;
                }
                
            }

            .wp-block-columns{
                gap: 2rem;
                flex-wrap: wrap;
                @media(max-width: 1100px){
                    gap: 1rem;
                }
                @media(max-width: 601px){   
                    gap: 0.5rem;
                    display: flex;
                    justify-content: space-around;
                }
                
            }

            .employee-card {
                padding: 30px;
                background-color: #FFF;
                border-radius: 24px;
                border: 3px solid #000;
                max-width: 270px;
                width: 100%;

                @media(max-width: 1100px){
                    padding: 15px;
                }
               
                @media(max-width: 601px){
                    max-width: 160px;
                    height: auto;
                    border: 2px solid #000;
                    margin-top: 10px;
                }

                img{
                    @media(max-width: 1100px){
                        width: 72px;
                        height: auto;
                    } 
                }

                h4 {
                    font-weight: 600;
                    text-transform: capitalize;
                    letter-spacing: -0.24px;
                    margin-top: 13px;
                    margin-bottom: 12px;
                    @media(max-width: 1100px){
                        font-size: 1rem;
                    }
                }

                p {
                    color: #666;
                    letter-spacing: -0.16px;
                    margin-bottom: 0;
                    margin-top: 0;
                    @media(max-width: 1100px){
                        font-size: 0.750rem;
                        text-align: center;
                    }
                }
            }
            .team-second-column{
                @media(max-width: 601px) {
                    margin-top: -19px;
                    margin-bottom: 0;
                }
            }
        }

        .test-plugin {
            background-color: var(--wp--preset--color--helper-pure);
            padding-top: 90px;
            padding-bottom: 80px;
            border-top: 3px solid #000;
            @media(max-width: 781px){
                padding-top: 60px;
                padding-bottom: 0;    
            }
            .wp-block-columns{
                @media(max-width: 781px){
                    margin-bottom: 0;
                }    
            }
            .text-column{
                padding-top: 0;
                h2{
                    margin-top: 0;
                    margin-bottom: 20px;
                    @media(max-width: 781px){
                        font-size: 3rem;    
                    }
                    
                }
                h3{
                    font-size: 1.225rem;
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-weight: 600;
                }    
            }
            .plugin-test-column{
                margin-top: 20px;
                img{
                    @media(max-width: 781px){
                        height: auto;
                        margin-top: 0;
                    }
                    
                }
                h2{
                    font-size: 3rem !important;
                    @media(max-width: 781px){
                        font-size: 2.7rem !important;
                        margin-top: -70px;
                    }
                }
            }
        }

        @import "./../3-components/c-button";
        @import "./../2-atoms/a-typography" ;
    }

    .concordamos-button-faq{
        background-color: var(--wp--preset--color--primary-pure);
        color: var(--wp--preset--color--low-dark);
        border: 3px solid #000;
        font-family: Oswald;
        font-size: 1.5rem;
        letter-spacing: -.24px;
        font-weight: 500;
        padding: 3px 23px 7px;
        box-shadow: 4px 4px 0 0 #000;
        position: fixed;
        right: 32px;
        border-radius: 32px;
        bottom: 16px;
        text-decoration: none;
        z-index: 9;

        @include mixins.mobile{
            bottom: 93px;
        }

        @include mixins.small{
            bottom: 93px;
        }
        
    }
}