@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.single-voting{
    #app{
        
        .voting-header{
            min-height: 393px;
            padding-top: 3.8rem;

            @media( max-width: 781px ){
                padding-top: 2rem;   
            }

            .info{

                .voting-breadcrumb{
                    font-size: 1.25rem;
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .voting-title{
                    line-height: 112%;
                    letter-spacing: -0.48px;
                    margin-top: 8px;    
                }

                p{
                    max-width: 570px;
                    width: 100%;
                }
                
                .meta{
                    margin-top: 25px;

                    .tax-tag{
                        font-size: 0.75rem;
                        font-weight: 700;

                        li{
                            padding: 0.125rem 0.325rem;    
                        }
                    }

                    .author{
                        font-size: 0.75rem;
                        color: #000;
                        letter-spacing: -0.12px;    
                    }
                }
            }

            .dates{

                h3{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 500;
                }

                .date, .time{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;    
                }
            }
        }

        .voting-content{
            background-color: var(--wp--preset--color--secondary-light);
            padding-bottom: 112px;

            h2{
                font-size: 2rem;
                margin-top: 58px;
                margin-bottom: 58px;    
            }

            .options{

                @include mixins.small{
                    grid-template-columns: 1fr;
                }    
            }

            .option-voting{

                h3{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 500;
                    text-transform: capitalize;     
                }

                p{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;       
                }
            }

            .actions{

                a{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;         
                }
                
                button{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 500;        
                }    
            }
        }        
    }

    &.logged-in {
        #app{
            .voting-content{
                background-color: var(--wp--preset--color--helper-light);
            }
        }
    }
}