@use "./../2-atoms/a-mixins" as mixins;
@use "./../1-settings/s-variables" as variables;

.page-sobre {
    #app {
        @include mixins.tablet{
            overflow-x: initial;
            
        }
        .wp-block-cover__inner-container {
            max-width: 1170px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .page-title {
            background-color: var(--wp--preset--color--low-pure);
            border-radius: 0px 0px 32px 32px;

            h1 {
                color: var(--wp--preset--color--secondary-light);
                font-size: 6rem;
                margin-bottom: 45px;
            }
        }

        .mission {
            margin-top: 35px;
            padding-bottom: 60px;
            .mission-column{
                margin-top: 30px;
            }
           
            h2{
                
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 30px;
            }
        }

        .objectives {
            background-color: var(--wp--preset--color--primary-pure);
            border-top: 3px solid #000;
            border-bottom: 3px solid #000;

            .objectives-left-column {
                margin-top: 60px;
                width: 100%;
                max-width: 530px;

                h2 {
                    color: var(--wp--preset--color--primary-pure);
                    font-size: 3.250rem;
                    margin-top: 5px;
                }
            }
            .objectives-right-column{
                h2, p, .white-button{
                    padding-left: 123px;
                    @media(max-width: 781px){
                        padding-left: 0;
                    }
                }
                h2{
                    margin-top: 25px;
                    margin-bottom: 20px;
                }   
            }
        }

        .team {
            background-color: var(--wp--preset--color--secondary-pure);
            padding-top: 70px;

            h2{
                margin-bottom: 20px;
            }

            p{
                max-width: 430px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
            }

            .wp-block-columns{
                gap: 2rem;
            }

            .employee-card {
                padding: 30px;
                background-color: #FFF;
                border-radius: 24px;
                border: 3px solid #000;

                h4 {
                    font-weight: 600;
                    text-transform: capitalize;
                    letter-spacing: -0.24px;
                    margin-top: 13px;
                    margin-bottom: 12px;
                }

                p {
                    color: #666;
                    letter-spacing: -0.16px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .test-plugin {
            background-color: var(--wp--preset--color--helper-pure);
            .text-column{
                padding-top: 0;
                h2{
                    margin-top: 0;
                    margin-bottom: 20px;
                    
                }
                h3{
                    font-size: 1.225rem;
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-weight: 600;
                }    
            }
        }

        @import "./../3-components/c-button";
    }
}