@use "./../2-atoms/a-mixins" as mixins;
@use "./../1-settings/s-variables" as variables;

.page-sobre {
    #app {
        @include mixins.tablet{
            overflow-x: initial;
            
        }
        .wp-block-cover__inner-container {
            max-width: 1170px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .page-title {
            background-color: var(--wp--preset--color--low-pure);
            border-radius: 0px 0px 32px 32px;

            h1 {
                color: var(--wp--preset--color--secondary-light);
                font-size: 6rem;
                margin-bottom: 45px;
                @media(max-width: 781px) {
                    font-size: 4.5rem;
                    margin-top: -10px;
                    margin-bottom: 0;
                }
                @include mixins.small{
                    font-size: 3rem;    
                }
            }
        }

        .mission {
            margin-top: 35px;
            padding-bottom: 60px;
            @media (max-width: 781px){
                padding-left: 0;
                padding-right: 0;
            }
            .wp-block-columns{
                @media (max-width: 781px){
                    margin-bottom: 0;
                }    
            }
            .mission-column{
                margin-top: 30px;
                @media (max-width: 781px){
                    margin-top: 0;
                }
            }
            h2{
                margin-bottom: 20px;
                @media (max-width: 781px){
                    margin-top: 0;
                    font-size: 3rem;
                }
            }
            p{
                margin-bottom: 30px;
                @media (max-width: 781px){
                    margin-bottom: 15px;
                }
            }
            figure{
                @media (max-width: 781px){
                    margin-left: 0;
                    margin-top: 40px;
                }    
            }
        }

        .objectives {
            background-color: var(--wp--preset--color--primary-pure);
            border-top: 3px solid #000;
            border-bottom: 3px solid #000;

            @media(max-width: 781px){
                padding-left: 0;
                padding-right: 0;
            }

            .objectives-left-column {
                margin-top: 60px;
                width: 100%;
                max-width: 530px;
                @media(max-width: 781px){
                    display: none;
                }
                

                h2 {
                    color: var(--wp--preset--color--primary-pure);
                    font-size: 3.250rem;
                    margin-top: 5px;
                }
            }
            .objectives-right-column{
                @media(max-width: 781px){
                    padding-bottom: 15px;
                }
                h2, p, .white-button{
                    padding-left: 123px;
                    @media(max-width: 781px){
                        padding-left: 0;
                    }
                }
                h2{
                    margin-top: 25px;
                    margin-bottom: 20px;
                    @media(max-width: 781px){
                        font-size: 3rem;
                        margin-top: 40px;
                    }
                }   
            }
        }

        .team {
            background-color: var(--wp--preset--color--secondary-pure);
            padding-top: 70px;
            padding-bottom: 90px;
            @media(max-width: 781px){
                padding-top: 20px;
                padding-left: 0;
                padding-right: 0;
                
            }

            h2{
                margin-bottom: 20px;
                @media(max-width: 781px){
                    font-size: 3rem;
                    text-align: left;
                    margin-bottom: 30px;
                }
            }

            p{
                max-width: 430px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
                @media(max-width: 781px){
                    margin-left: 0;
                    margin-right: 0;
                    text-align: left;
                    margin-bottom: 13px;
                }
                
            }

            .wp-block-columns{
                gap: 2rem;
                flex-wrap: wrap;
                @include mixins.small{   
                    gap: 0.5rem;
                }
                
            }

            .employee-card {
                padding: 30px;
                background-color: #FFF;
                border-radius: 24px;
                border: 3px solid #000;
                max-width: 280px;
                width: 100%;
                @include mixins.small{
                    max-width: 160px;
                    height: auto;
                    border: 2px solid #000;
                }

                h4 {
                    font-weight: 600;
                    text-transform: capitalize;
                    letter-spacing: -0.24px;
                    margin-top: 13px;
                    margin-bottom: 12px;
                }

                p {
                    color: #666;
                    letter-spacing: -0.16px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .test-plugin {
            background-color: var(--wp--preset--color--helper-pure);
            padding-top: 90px;
            padding-bottom: 100px;
            @media(max-width: 781px){
                padding-top: 60px;
                padding-bottom: 0;    
            }
            .wp-block-columns{
                @media(max-width: 781px){
                    margin-bottom: 0;
                }    
            }
            .text-column{
                padding-top: 0;
                h2{
                    margin-top: 0;
                    margin-bottom: 20px;
                    @media(max-width: 781px){
                        font-size: 3rem;    
                    }
                    
                }
                h3{
                    font-size: 1.225rem;
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-weight: 600;
                }    
            }
            .plugin-test-column{
                img{
                    @media(max-width: 781px){
                        height: auto;
                        margin-top: 0;
                    }
                    
                }
                h2{
                    font-size: 3rem !important;
                    @media(max-width: 781px){
                        font-size: 2.7rem !important;
                        margin-top: -70px;
                    }
                }
            }
        }

        @import "./../3-components/c-button";
    }
}