@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.single-voting{

    #app{

        .panel-tabs{

            .selected{
                color: #000;
                font-family: Oswald;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%; /* 31.2px */
                letter-spacing: -0.24px;
                text-transform: uppercase;
            }
        }

        .voting-links-grid{
            gap: 32px;

            .voting-links-column{

                .voting-links-card{
                    height: auto;

                    .voting-link {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        a{
                            max-width: 352px;
                            width: 100%;

                            @include mixins.small{
                                max-width: 180px;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            @include mixins.mobile{
                                max-width: 180px;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    h2{
                        margin: 0;
                    }
                }

                .voting-links-scroll{

                    h2{
                        margin: 0;
                    }
                }
            }
        }
        
        .voting-header{
            min-height: 393px;
            padding-top: 3.8rem;

            @media( max-width: 781px ){
                padding-top: 2rem;   
            }

            .container{
                @include mixins.small{
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .info{

                .voting-breadcrumb{
                    font-size: 1.25rem;
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .voting-title{
                    line-height: 112%;
                    letter-spacing: -0.48px;
                    margin-top: 8px;    
                }

                p{
                    max-width: 570px;
                    width: 100%;
                }
                
                .meta{
                    margin-top: 25px;

                    @include mixins.mobile{
                        gap: unset;
                    }

                    .tax-tag{
                        font-size: 0.75rem;
                        font-weight: 700;

                        li{
                            padding: 0.125rem 0.325rem;  
                            margin-bottom: 8px;
                            margin-top: 8px;  
                        }
                    }

                    .author{
                        font-size: 0.75rem;
                        color: #000;
                        letter-spacing: -0.12px;
                    }
                }
            }

            .dates{

                @include mixins.mobile{
                    padding-top: 16px;
                }

                h3{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 500;
                }

                @include mixins.mobile{

                    .date{

                        &.date-start{
                            margin-left: 16px;
                        }

                        &.date-end{
                            margin-right: 58px;
                        }
                    }
                    &::after{
                        @media(max-width: 768px){
                            width: calc(100% - 150px);
                            left: 18px;
                            top: 3.2rem;

                        }
                    }

                }
                
                .date, .time{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;    
                }
            }
        }

        .voting-content{
            background-color: var(--wp--preset--color--secondary-light);
            padding-bottom: 112px;

            @include mixins.mobile{
                padding-bottom: 108px;
            }

            .options-title-desktop{
                font-size: 2rem;
                margin-top: 8px;
                margin-bottom: 58px;   

                @include mixins.mobile{
                    display: none;
                } 
            }
            .content{
                @include mixins.mobile{
                    padding-top: 0px;
                }
            }

            .options{
                @include mixins.small{
                    grid-template-columns: 1fr;
                    margin-bottom: 40px !important;
                }    
            }

            .option-voting{

                h3{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 500;
                    text-transform: capitalize;     
                }

                p{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;       
                }
            }

            .actions{
                @include mixins.mobile{
                    display: flex;
                    flex-direction: column-reverse;
                }

                a{
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                    text-transform: uppercase;
                    text-decoration: none;         
                }

                a.primary{
                    padding: 10px 27px 9px;
                    text-transform: none;
                    font-family: "Oswald";
                    font-size: 1.5rem;
                    line-height: 130%;
                    font-weight: 400;	
                }
                
                button{
                    font-family: 'Oswald';
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.24px;
                    font-weight: 400;
                    align-items: center;       
                }    
            }
            .voting-modal{

                main{

                    h2{
                        margin-top: 5px;
                        margin-bottom: 10px;
                        display: block;
                    }

                    .modal-text{
                        text-transform: none;
                    }

                    .primary{
                        margin-right: 18px;    
                    }    

                    p{
                        display: block;
                    }
                }
            }

            .sidebar{
                @include mixins.mobile{
                    padding-top: 26px;
                    padding-bottom: 32px;
                }
                .options-title-mobile{
					color: #111;
					font-family: 'Oswald';
					font-size: 32px;
					font-weight: 700;
					line-height: 130%;
					letter-spacing: -0.32px;
					text-transform: uppercase;
					text-align: center;
					margin: 20px 0 25px;
					@media(min-width: 782px){
						display: none;
					}
				}
               
            }
        }
        .main-footer{
            .date{
                @include mixins.mobile{
                    display: none;
                }
            }
        }
    }

    &.logged-in.admin-bar {
        #app{
            .voting-content{
                background-color: var(--wp--preset--color--helper-light);
            }
        }
    }

}
