@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

footer.main-footer {
    background-color: #000;

    .wp-block-cover__inner-container{
        max-width: 1170px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    p, a{
        color: #fff !important ;
    }

    .footer-logo{
        margin: 42px 0 32px 0;  
        max-width: 370px;
        width: 100%;
    }

    .footer-logo-column{

        >p{
            margin-top: 0;
        }
    }

    .footer-menu{
        margin-top: 30px;

       p{
        margin-bottom: 20px;
       }
    }

    .social-icons{
        display: flex;
        justify-content: space-between;
    }

    @include mixins.tablet{
        
        .footer-logo-column {
            text-align: center;

        }

        .footer-menu{
           text-align: center;

            .footer-menu-second-column{
                margin-top: -20px;
            }
        }  
    }
}