@use "./../1-settings/_s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

footer.main-footer {
    background-color: #000;

    .wp-block-cover__inner-container{
        max-width: 1170px;
        width: 100%;

        .wp-block-columns{
            gap: 46px;

            .wp-block-column{
                display: flex;
                flex-direction: column;
            }
        }
    }

    p, a{
        color: #fff !important ;
        text-decoration: none;
    }

    .footer-logo{
        margin: 42px 0 42px 0;  
        max-width: 370px;
        width: 100%;
    }

    .footer-logo-column{

        >p{
            margin-top: 0;
        }
    }

    .footer-menu{
        margin-top: 30px;

       p{
        margin-top: 12px;
       }
    }

    .social-icons{
        display: flex;
        flex-direction: row !important;
        gap: 76px;
    }

    @include mixins.tablet{
        
        .footer-logo-column {
            text-align: center;

        }

        .footer-menu{
           text-align: center;

            .footer-menu-second-column{
                margin-top: -20px;
            }
        }  
    }
}